@{
    ViewData["Title"] = "MySells";
}

<section class="section-agents section-t8">
    <h1 class="text-center">My Sells</h1>
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-lg-6">
                <div class="title-single-box">
                    <h1 class="title-single">Ordered Loans</h1>
                    <span class="color-text-a">My loan orders</span>
                </div>
            </div>
            <div class="col-md-6 col-lg-6">
                <nav aria-label="breadcrumb" class="breadcrumb-box d-flex justify-content-lg-end">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item">
                            <a href="/CreditScorings/PendingRequests">Pending</a>
                        </li>
                        <li class="breadcrumb-item" aria-current="page">
                            <a href="/CreditScorings/ApprovedRequests">Approved</a>
                        </li>
                        <li class="breadcrumb-item" aria-current="page">
                            <a href="/CreditScorings/RejectedRequests">Rejected</a>
                        </li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
    <br />
</section>