@using BankCloud.Data.Entities;
@model BankCloud.Models.BindingModels.SellsSaveInputModel

@{
    ViewData["Title"] = "SaveSell";
}

<section class="section-agents section-t8">
    <div class="container-fluid text-center">
        <div class="title-single-box">
            <h1 class="title-single"><span class="color-b">Create New Deposit Offer</span></h1>
            <span class="color-text-a">Please insert your conditions</span>
        </div>
        <hr />
        <div class="container">
            <div class="col-md-5 mx-auto">
                <form asp-action="Save" class="form-a fa-sign-in" enctype="multipart/form-data">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="col-md-12 mb-3">
                        <div class="form-group">
                            <label asp-for="Name" class="control-label"></label>
                            <input asp-for="Name" class="form-control" />
                            <span asp-validation-for="Name" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-12 mb-3">
                        <div class="form-group">
                            <label asp-for="Description" class="control-label"></label>
                            <textarea asp-for="Description" class="form-control" cols="45" rows="8"
                                      data-rule="required" data-msg="Please write something for Description"
                                      placeholder="Description">
                            </textarea>
                            <span asp-validation-for="Description" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-12 mb-3">
                        <div class="form-group">
                            <label asp-for="AdUrl" class="control-label"></label>
                            <input asp-for="AdUrl" type="file" class="form-control-file" />
                            <span asp-validation-for="AdUrl" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-12 mb-3">
                        <div class="form-group">
                            <label asp-for="InterestRate" class="control-label"></label>
                            <input asp-for="InterestRate" class="form-control" />
                            <span asp-validation-for="InterestRate" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-12 mb-3">
                        <div class="form-group">
                            <label asp-for="Period" class="control-label"></label>
                            <input asp-for="Period" class="form-control" />
                            <span asp-validation-for="Period" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-12 mb-3">
                        <div class="form-group">
                            <label asp-for="PenaltyInterest" class="control-label"></label>
                            <input asp-for="PenaltyInterest" class="form-control" />
                            <span asp-validation-for="PenaltyInterest" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-12 mb-3">
                        <div class="form-group">
                            <label asp-for="AccountId" class="control-label"></label>
                            <select asp-for="AccountId" class="custom-select">
                                <option value="" selected>Choose Account</option>
                                @foreach (var account in (List<Account>)ViewData["Accounts"])
                                {
                                    <option value="@account.Id">@account.IBAN | @account.Balance | @account.Currency.IsoCode</option>
                                };
                            </select>
                            <span asp-validation-for="AccountId" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Create" class="btn btn-a" />
                    </div>
                </form>
            </div>
        </div>
        <div>
            <a href="/Products/Loans">Back to List</a>
        </div>
    </div>
</section>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

